<% if @student.errors.any? %>
    <% @student.errors.full_messages.each do |message| %>
    <div class="alert alert-danger mb-0" role="alert">
      <%= message %>.
    </div>
    <% end  %>
<% end %>

<div class="new-student-container">
  <h6 class="mb-3">Create a new student:</h6>

  <%= form_for(@student, url: students_path) do |f| %>
    <div class="field">
      <%= f.label 'First Name' %>
      <%= f.text_field :first_name, maxLength: 25 %>
    </div>

    <div class="field">
      <%= f.label 'Family Name' %>
      <%= f.text_field :family_name, maxLength: 25 %>
    </div>

    <div class="field">
      <%= f.label 'Date of Birth' %>
      <%= f.date_field :date_of_birth %>
    </div>

    <%= f.submit 'Add Student', class: 'btn btn-secondary' %>
  <% end %>
</div>