<% if @course.errors.any? %>
  <% @course.errors.full_messages.each do |message| %>
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
      <%= message %>.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
<% end %>

<div class="new-courses-container">
  <%= render partial: 'courses/courses_table', locals: { courses: @courses } %>

  <div class="add-courses-container">
    <%= form_for(@course, url: courses_url) do |f| %>
      <div class="course-form mb-3">
        <%= f.label 'Course Name', class: 'me-2' %>
        <%= f.text_field :name %>
      </div>

      <%= f.submit 'Add Course', class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>